<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P-1</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Do you need to use the toilet?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Yes</string>
				<key>Action</key>
				<string>P-9-R</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>No</string>
				<key>Action</key>
				<string>R-11</string>
			</dict>
		</array>
	</dict>
	<key>P-2</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Have you been to the toilet in the last FreqVariable?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Yes</string>
				<key>Action</key>
				<string>R-30</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>No</string>
				<key>Action</key>
				<string>P-3</string>
			</dict>
		</array>
	</dict>
	<key>P-3</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>It&apos;s been FreqVariable since you&apos;ve been to the toilet. Would you like to try going to the toilet anyway?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Yes</string>
				<key>Action</key>
				<string>P-9-R</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>No</string>
				<key>Action</key>
				<string>P-4</string>
			</dict>
		</array>
	</dict>
	<key>P-4</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>2</integer>
		<key>Text</key>
		<string>I&apos;ll remind you to use the toilet again in FreqVariable.-newLine-Please try to hold it until then.-newLine-See you then!</string>
	</dict>
	<key>P-8</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Success?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Yes</string>
				<key>Action</key>
				<string>P-9</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>No</string>
				<key>Action</key>
				<string>P-4</string>
			</dict>
		</array>
	</dict>
	<key>P-8-R</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Success?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>Success! (in toilet)</string>
				<key>Action</key>
				<string>P-4</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Accident. I have a mess to clean-up</string>
				<key>Action</key>
				<string>P-15-R</string>
			</dict>
		</array>
	</dict>
	<key>P-9</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>3</integer>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>VOID</string>
				<key>Action</key>
				<string>P-10</string>
				<key>EpisodeType</key>
				<string>VOID</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>BM</string>
				<key>Action</key>
				<string>P-10</string>
				<key>EpisodeType</key>
				<string>BM</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>VOID + BM</string>
				<key>Action</key>
				<string>P-10</string>
				<key>EpisodeType</key>
				<string>VOIDBM</string>
			</dict>
		</array>
	</dict>
	<key>P-9-R</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Please record how your toileting went.</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>VOID</string>
				<key>Action</key>
				<string>P-8-R</string>
				<key>EpisodeType</key>
				<string>VOID</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>BM</string>
				<key>Action</key>
				<string>P-8-R</string>
				<key>EpisodeType</key>
				<string>BM</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>VOID + BM</string>
				<key>Action</key>
				<string>P-8-R</string>
				<key>EpisodeType</key>
				<string>VOIDBM</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>DRY-RUN</string>
				<key>Action</key>
				<string>P-4</string>
				<key>EpisodeType</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>P-10</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Did you &quot;VOID&quot; successfully in the toilet?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>YES</string>
				<key>Action</key>
				<string>Home</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>NO</string>
				<key>Action</key>
				<string>P-4</string>
			</dict>
		</array>
	</dict>
	<key>P-11</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>2</integer>
		<key>Text</key>
		<string>I&apos;ll remind you to use the toilet again in FreqVariable. See you then!</string>
	</dict>
	<key>P-12</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>2</integer>
		<key>Text</key>
		<string>I&apos;ll wake you up in FreqVariable to use the toilet. Get some sleep!</string>
	</dict>
	<key>P-13</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>3</integer>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>&quot;I forgot...&quot;</string>
				<key>Action</key>
				<string>P-14A</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I tried...&quot;</string>
				<key>Action</key>
				<string>P-14B</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I needed to go, but needed help to set-up/get to the toilet, but no one available to help me.&quot;</string>
				<key>Action</key>
				<string>P-14C</string>
			</dict>
		</array>
	</dict>
	<key>P-14A</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>3</integer>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>&quot;I didn&apos;t go...&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I had an accident on my way to/at the toilet.&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I had an accident in my bed/chair/sofa.&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
		</array>
	</dict>
	<key>P-14B</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>3</integer>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>&quot;I had an accident on my way to/at the toilet.&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I couldn&apos;t go...&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I had an accident in my bed/chair/sofa.&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
		</array>
	</dict>
	<key>P-14C</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>3</integer>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>&quot;I didn&apos;t go...&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I had an accident on my way to/at the toilet.&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I couldn&apos;t go...&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>&quot;I had an accident in my bed/chair/sofa.&quot;</string>
				<key>Action</key>
				<string>P-15</string>
			</dict>
		</array>
	</dict>
	<key>P-15</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>&quot;I need help (now!) to get to the toilet and/or get cleaned-up.&quot;</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>YES</string>
				<key>Action</key>
				<string></string>
			</dict>
			<dict>
				<key>Title</key>
				<string>NO</string>
				<key>Action</key>
				<string>P-4</string>
			</dict>
		</array>
	</dict>
	<key>P-15-R</key>
	<dict>
		<key>ViewTemplate</key>
		<integer>1</integer>
		<key>Text</key>
		<string>Do you need help?</string>
		<key>Buttons</key>
		<array>
			<dict>
				<key>Title</key>
				<string>No, I can manage myself</string>
				<key>Action</key>
				<string>P-4</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>Yes, please text FCG</string>
				<key>Action</key>
				<string>sendMessage</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
